@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);

$header-and-footer-height: 75px;

body {
  background: var(--white);
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'header header header header'
  'sidebar main main main'
  'footer footer footer footer';
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-template-rows: $header-and-footer-height 1fr $header-and-footer-height;
  min-height: 100vh;
  font-family: var(--font-family-roborto);
}

@media (max-width: 576px) {
  body {
    background: var(--white);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    'header'
    'sidebar'
    'main'
    'footer';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: $header-and-footer-height 1fr  1fr $header-and-footer-height;
    min-height: 100vh;
  }

}
