
$head-and-foot-height-default: 75px;
$head-and-foot-height-mobile: minmax($head-and-foot-height-default, 150px);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background: var(--white);
  box-sizing: border-box;
  font-family: var(--font-family-roborto);
  min-height: 100%;

  .grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'middle-container'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: $head-and-foot-height-default 1fr $head-and-foot-height-default;
    height: 100vh;
  }
}

@media (max-width: 576px) {
  body {
    background: var(--white);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    'header'
    'middle-container'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: $head-and-foot-height-mobile auto $head-and-foot-height-mobile;
    min-height: 100vh;
  }

}
