
// main Container
// should this be an id vs a class ?
header,
footer {
  background: var(--darkGray1);
  color: var(--whitesmoke);
  grid-column: span 4;
}

footer {
  grid-area: footer;
}

header {
  align-content: center;
  display: grid;
  grid-area: header;
  grid-template-areas: 'sectionTitle . . nav';
  padding: 1% 2%;

  * {
    background-color: inherit;
    color: inherit;
    padding: inherit;
    text-shadow: 2px 2px 1px var(--gray);
  }

  .header-title {
    font-size: 24px;
    font-weight: 600;
    grid-area: sectionTitle;
  }

  nav {
    font-size: 20px;
    font-weight: 500;
    grid-area: nav;
    justify-self: end;
  }
}

.middle-section {
  display: grid;
  grid-column: span 4;
  grid-gap: 4px;
  grid-template-areas: 'sidebar main main main';
  height: 100%;

  * {
    padding: 0 1%;
  }

  sidebar {
    background-color: var(--rosegold);
    grid-area: sidebar;
  }

  main {
    background-color: var(--royalblue);
    grid-area: main;
  }
}
/************************** First Media Query *******/
@media (min-width: var(--breakpoint-md)) {
  header,
  footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .middle-section {
    grid-row: span 2;
    grid-template-areas:
      'sidebar sidebar'
      'main main';

    margin: auto 0;
  }

  header {
    grid-template-areas: 'sectionTitle nav';
  }
}
