// main Container
// should this be an id vs a class ?

header,
footer {
  background: var(--darkGray1);
  color: var(--whitesmoke);
  padding: 1% 2%;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-areas: 'credits credits social-media social-media';

  .credits {
    grid-area: credits;
  }

  .social-media {
    grid-area: social-media;
  }
}

header {
  align-content: center;
  display: grid;
  grid-area: header;
  grid-template-areas: 'sectionTitle . . nav';

  * {
    background-color: inherit;
    color: inherit;
    padding: inherit;
    text-shadow: 2px 2px 1px var(--gray);
  }

  .header-title {
    font-size: 24px;
    font-weight: 600;
    grid-area: sectionTitle;
  }

  nav {
    font-size: 20px;
    font-weight: 500;
    grid-area: nav;
    justify-self: end;
  }
}

sidebar {
  background-color: var(--rosegold);
  grid-area: sidebar;
  grid-column: 1 / 2;
}

main {
  background-color: var(--royalblue);
  grid-area: main;
  grid-column: 2 / 5;
}

/************************** First Media Query *******/
@media (min-width: var(--breakpoint-md)) {
  header,
  footer {
    grid-template-columns: repeat(2, 1fr);
  }

  header {
    grid-template-areas: 'sectionTitle nav';
  }
}

// New idea for screen readers
.hiddenAccessLinkText {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
