

header,
footer {
  align-items: center;
  background: var(--themebgcolor);
  color: var(--themecolor);
  display: grid;
  height: 75px;
  justify-content: space-between;
  padding: 0 15px;
}

footer {
  align-self: end;
  grid-area: footer;
  grid-template-areas: 'credits social-media';
  grid-template-columns: repeat(2, 1fr);

  .footer__text {
    padding-right: 1rem;
  }

  img {
    display: inline-block;
    height: 42px;
    transform: scale(1.25);
    width: 42px;
  }

  .credits {
    grid-area: credits;
  }

  .social-media {
    grid-area: social-media;
    text-align: right;
  }
}

header {
  grid-area: header;
  grid-template-areas: 'sectionTitle nav';

  * {
    background-color: inherit;
    color: inherit;
    text-shadow: 2px 2px 1px var(--gray);
  }

  .header__title {
    font-size: 32px;
    font-weight: 600;
    grid-area: sectionTitle;
    letter-spacing: 4px;
  }

  .nav-links {
    display: flex;
    grid-area: nav;
    justify-content: space-around;
    justify-self: end;

    a {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    li {
      padding: 0 .75rem;
    }
  }
}

aside {
  grid-area: sidebar;
  background-color: red;
}

main {
  grid-area: main;
  background-color: royalblue;
}


// New idea for screen readers
.hidden-access-link-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Media Query
@media (max-width: 576px) {
  header {
    grid-template-areas: 'sectionTitle' 'nav';
    justify-items: center;

    * {
      grid-area: inherit;
    }

    .nav-links {
      border: 1px solid var(--red);
      justify-self: center;
    }

    .header--title {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .middle-container {
    grid-area: middle-container;
    grid-template-areas: 'sidebar' 'main';
    grid-template-rows: repeat(2, 1fr);

    * {
      grid-area: inherit;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 .5rem;
    }
  }
}
